<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="console" xsi:type="ColoredConsole"
            layout="${date:format=HH\:mm\:ss}| [TID:${threadid}] | ${stacktrace} | ${message}" />
    <!--
    basedir = 기본 디렉토리(bin폴더) / 하위에 Logs 폴더 생성 /
    하루에 하나씩 log 생성 (MMddhhmmss -> yyyyMMdd로 변경)
    -->
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMMdd}.log"
            layout="[${date}] [TID:${threadid}] [{stacktrace}]: ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>